[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "==3.0.0"
matplotlib = "*"

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.14"
python_full_version = "3.14.0"
